@charset "UTF-8";
/*!переключатели слайдов выступаеют поверх модульного окна*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  /* min-width: 1200px; */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  /*block*/
  padding: 14px 0px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 3px;
  border: none;
  background-color: #fb565a;
}

.button:hover, .button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #e37376;
}

.button--color-2 {
  background-color: #00ca74;
}

.button--color-2:hover, .button--color-2:focus {
  background-color: #00bc6c;
}

.button--color-2:hover:active, .button--color-2:focus:active {
  background-color: #00aa62;
  color: #4dc491;
}

.button--color-3 {
  background-color: #efc84a;
}

.button--color-3:hover, .button--color-3:focus {
  background-color: #eab534;
}

.button--color-3:hover:active, .button--color-3:focus:active {
  background-color: #e5a722;
  color: #edc265;
}

.button--control {
  color: #000000;
  background-color: #eeeeee;
}

.button--control:hover, .button--control:focus {
  background-color: #dfdfdf;
}

.button--control:hover:active, .button--control:focus:active {
  background-color: #d5d5d5;
  color: #000000;
  opacity: 0.3;
}

.button--price:active {
  color: #ffffff;
}

/*==========Шапка===========*/
.main-header {
  background-color: #eeeeee;
  padding-top: 50px;
}

.main-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-header__navigation a {
  color: #000000;
}

.main-header__navigation a:hover, .main-header__navigation a:focus {
  color: #fb565a;
}

.main-header__navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header__logo {
  margin-right: 200px;
}

.main-header__logo:hover, .main-header__logo:focus {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.3;
}

.main-header__site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: -6px;
  padding: 0;
}

.main-header__site-navigation li {
  margin-right: 47px;
}

.main-header__site-navigation li:last-child {
  padding-left: 0;
}

.main-header__site-navigation--current {
  position: relative;
}

.main-header__site-navigation--current::after {
  content: "";
  position: absolute;
  bottom: -6px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fb565a;
}

.main-header__basket {
  position: relative;
  margin-left: auto;
  margin-bottom: -6px;
  padding-left: 41px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-header__basket:hover, .main-header__basket:focus {
  color: #fb565a;
}

.main-header__basket:active {
  color: #000000;
  opacity: 0.3;
}

.main-header__basket:active::before {
  opacity: 1;
}

.main-header__basket::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/basket.svg");
  opacity: 0.3;
}

/*============Слайды==========*/
.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider__main {
  margin-bottom: 80px;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__controls i {
  /*подложка для переключателей*/
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  /*увеличим зону нажатия*/
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls i::after {
  /*видимая части переключателей*/
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider__controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__list {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
  padding: 78px 0px 80px 0px;
  margin: -10px 0px 0px 0px;
}

.slider__item:nth-child(1) {
  display: block;
}

.slider__item:nth-child(1) {
  background-image: url("../img/top-image-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
  /*как они определили эти значения?*/
}

.slider__item:nth-child(2) {
  background-image: url("../img/top-image-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  /*как они определили эти значения?*/
}

.slider__item:nth-child(3) {
  background-image: url("../img/top-image-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  /*как они определили эти значения?*/
}

.slider__item h3 {
  max-width: 600px;
  /*почему так много?*/
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 41px;
}

.slider__item-button {
  width: 240px;
}

/*=========================================*/
.offers {
  padding-bottom: 82px;
  padding-right: 55px;
  margin-bottom: 37px;
  border-bottom: 2px solid #eeeeee;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.offers__item img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.offers__item h3 {
  margin: 25px 0px 18px 0px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.offers__item p {
  margin: 0;
  margin-bottom: 32px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  color: #283136;
}

.offers__button {
  width: 160px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

/*===========================================*/
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  margin-bottom: 74px;
}

.info__column--text {
  margin-top: 22px;
  width: 650px;
}

.info__company {
  margin-bottom: 35px;
}

.info__company b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info__description {
  margin: 0;
  margin-bottom: 38px;
  color: #283136;
}

.info__list-description {
  margin: 0px 0px 0px 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #283136;
}

.info__list li {
  position: relative;
  padding-left: 35px;
  margin-top: 23px;
}

.info__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  border-bottom: 2px solid #fb565a;
}

.info__column--slogan {
  margin-top: 5px;
}

.info__slogan {
  margin: -13px 0px 0px 0px;
}

.slogan__description {
  margin: 4px 0px 0px 0px;
  padding: 38px 0px 40px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  margin: 0;
  padding: 0;
}

.slogan__item {
  padding-right: 21px;
}

.slogan__item:last-child {
  padding-right: 0;
  margin: 0px 0px 0px 0px;
}

.slogan__term {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-bottom: 22px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.slogan__percent {
  position: relative;
  font-size: 28px;
}

.slogan__definition {
  margin: 0;
  padding: 0;
  line-height: 18px;
  color: #283136;
}

.partners {
  padding: 45px 0px;
  border-top: 2px solid #eeeeee;
  margin-bottom: 25px;
  border-bottom: 2px solid #eeeeee;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

.partners__item {
  position: relative;
  padding-right: 40px;
}

.partners__item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  width: 2px;
  height: 52px;
  border-right: 2px solid #eeeeee;
}

.partners__item:last-child {
  padding-right: 0;
}

.partners__item:last-child::after {
  display: none;
}

.partners__logo {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__logo a {
  opacity: 0.2;
}

.partners__logo a:hover, .partners__logo a:focus {
  opacity: 1;
}

.partners__logo a:active {
  opacity: 0.1;
}

.partners__logo a img {
  margin: auto 0;
}

/*==================Catalog=================*/
.title-wrapper {
  background-color: #eeeeee;
}

.main-title {
  margin: 0;
  padding: 67px 0px 108px 0px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.filter {
  margin-top: 60px;
  width: 360px;
  /* стиль для заблокированного поля */
}

.filter__form .button--control {
  width: 260px;
}

.filter__form legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__form ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter__input:hover, .filter__input:focus {
  opacity: 0.4;
}

.filter__input:disabled + label {
  opacity: 0.3;
  color: #283136;
}

.filter__item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__slider {
  margin-bottom: 60px;
}

.filter__range-filter {
  width: 260px;
  margin-top: 50px;
}

.filter__range-controls {
  position: relative;
  margin-bottom: 15px;
  padding: 39px 20px;
  height: 80px;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.filter__scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter__bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.filter__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__toggle-min {
  left: 18px;
}

.filter__toggle-max {
  left: 160px;
}

.filter__price-controls {
  font-size: 0;
}

.filter__price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.filter__price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background-color: #f1f1f1;
}

.filter__max-price {
  text-align: right;
}

.filter__grid {
  margin-bottom: 41px;
}

.filter__grid legend {
  margin-bottom: 20px;
}

.filter__option {
  padding-left: 36px;
  margin-bottom: 15px;
}

.filter__option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter__radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.3;
}

.filter__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.3;
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox_off.png");
  opacity: 0.4;
}

.filter__checkbox:checked + label::before {
  display: none;
}

.filter__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox.png");
  opacity: 0.4;
}

.filter__input:hover + label::before,
.filter__input:focus + label::before,
.filter__input:hover + label::after,
.filter__input:focus + label::after {
  opacity: 1;
}

.filter__input:disabled + label,
.filter__input:disabled + label::before,
.filter__input:disabled + label::after {
  opacity: 0.3;
}

.filter__features {
  margin-bottom: 30px;
}

.filter__features legend {
  margin-bottom: 20px;
}

.filter__features .filter__option {
  margin-bottom: 20px;
}

.sort {
  margin: 60px 0px 50px 0px;
  width: 760px;
}

.sort__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort__caption {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.sort__item {
  margin-right: 26px;
}

.sort__item:last-child {
  margin-right: 43px;
}

.sort__item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: #000000;
}

.sort__item a:hover, .sort__item a:focus {
  opacity: 0.6;
}

.sort__item a:active {
  opacity: 1;
}

.sort__item--current a {
  opacity: 1;
}

.sort__order-button {
  display: inline-block;
  margin: 4px 0px 0px 0px;
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.sort__order-button:hover, .sort__order-button:focus {
  opacity: 0.6;
}

.sort__order-button:active {
  opacity: 1;
}

.sort__order-button--down {
  margin-right: 18px;
  background-image: url("../img/icons/icon_down.png");
  background-repeat: no-repeat;
}

.sort__order-button--up {
  background-image: url("../img/icons/icon_up.png");
  background-repeat: no-repeat;
}

/*=============================Каталог=======================*/
.catalog {
  width: 760px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  padding-top: 40px;
  margin-right: 40px;
  margin-bottom: 33px;
  width: 360px;
  line-height: 0;
  background-color: #eeeeee;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 1px;
  height: 40px;
  width: 100%;
  background-image: url("../img/item_status.png");
  opacity: 0.12;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.catalog-item:hover::before, .catalog-item:focus::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-menu,
.catalog-item:focus .catalog-item-menu {
  display: initial;
}

.catalog-item-menu {
  position: absolute;
  bottom: 0;
  display: none;
  padding: 35px 0px 43px 0px;
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item-menu button {
  width: 200px;
}

.catalog-item-description {
  padding: 20px 68px 24px 68px;
  margin: 0;
  line-height: 18px;
  color: #666666;
}

.catalog-item-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-title:hover, .catalog-item-title:focus {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-image {
  width: 100%;
}

/*==============Пагинация================*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.pagination .button--control {
  width: 260px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item {
  margin-right: 11px;
  width: 50px;
  height: 50px;
}

.pagination-item a {
  display: block;
  padding: 13px 17px;
  color: #000000;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  color: #959595;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
  border-radius: 1px;
  color: #000000;
}

/*===============================Футер========================*/
.main-footer {
  padding-top: 50px;
  margin: 0;
}

.main-footer__address {
  width: 319px;
  padding: 50px 50px 50px 50px;
  background-color: #fff;
}

.main-footer__map {
  padding: 60px 0;
  background-image: url(../img/map-with-marker.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.main-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.google-map {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 437px;
}

.social {
  padding: 60px 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 140px;
}

.social__list li {
  padding-right: 12px;
}

.social__list li:last-child {
  padding-right: 0;
}

.social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social__button:hover, .social__button:focus {
  background-color: #e74246;
}

.social__button:active {
  background-color: #d7373b;
}

.social__button:active path {
  fill: #e37376;
}

.discount__slogan {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount__description {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.address {
  position: relative;
  z-index: 1;
}

.address__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.address__description {
  margin: 0;
  margin-bottom: 37px;
  line-height: 18px;
  color: #666666;
}

.address .button {
  width: 219px;
}

/*===================Модальное окно===================*/
.modal {
  position: fixed;
  bottom: 180px;
  z-index: 10;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-contact {
  display: none;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  padding: 70px 100px 80px 100px;
  background-color: #ffffff;
}

.modal-contact__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-contact__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.modal-contact__flex-container input {
  width: 360px;
  padding: 18px 16px;
}

.modal-contact__form {
  position: relative;
}

.modal-contact__form label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-contact__form input,
.modal-contact__form textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  line-height: 18px;
  color: #a1a1a1;
}

.modal-contact__form input:hover,
.modal-contact__form textarea:hover {
  border: 2px solid #b4b9bb;
  color: #a1a1a1;
}

.modal-contact__form input:focus,
.modal-contact__form textarea:focus {
  border: 2px solid #000000;
  color: #444444;
}

.modal-contact__form input:invalid,
.modal-contact__form textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-contact__form .button {
  width: 260px;
}

.modal-contact__textarea {
  width: 100%;
  padding: 15px;
  height: 118px;
  margin-bottom: 40px;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 8px;
  width: 4px;
  height: 25px;
  background-color: #fecccd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 8px;
  width: 4px;
  height: 25px;
  background-color: #fecccd;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
